Source: mtree-portable
Section: utils
Priority: optional
Maintainer: John Goerzen <jgoerzen@complete.org>
Build-Depends: debhelper (>= 9), autotools-dev, bmake, libnbcompat-dev (>= 20180822-5), libarchive-tools | bsdtar, libncurses-dev, libbsd-dev, libmd-dev
Standards-Version: 4.4.1
Homepage: https://github.com/jashank/mtree-portable
Vcs-Git: https://github.com/jashank/mtree-portable.git
Vcs-Browser: https://github.com/jashank/mtree-portable

Package: mtree-netbsd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A utility for mapping and checking directory hierarchies.
 The mtree utility compares a file hierarchy against a specification,
 creates a specification for a file hierarchy, or modifies such a
 specification.  This specification can be controlled by the user, but
 typically includes file/directory/symlink names, ownership information,
 permission bits, and so forth.  It may optionally also include various
 hashes, such as SHA-256 or MD5.
