#!/usr/bin/make -f
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@ --with autotools_dev

# Install this in /usr/bin
# The -DBSD4_4 and -Dst_mtimespec=st_mtim are for sub-second time precision
override_dh_auto_configure:
	dh_auto_configure -- \
		--bindir=/usr/bin \
		CPPFLAGS="$(CPPFLAGS) -D_GNU_SOURCE -DBSD4_4 -Dst_mtimespec=st_mtim"
